<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="x_Lookup_Lite.Properties.Settings.DVAConnectionStringFP"
            connectionString="Data Source=atl-va-sql-1a\p920;Initial Catalog=DVA;User ID=dva;Password=Happy_Trails"
            providerName="System.Data.SqlClient" />
        <add name="x_Lookup_Lite.Properties.Settings.DVAConnectionStringMTV"
            connectionString="Data Source=mtv-va-sql-1\p922;Initial Catalog=DVA;User ID=dva;Password=Happy_Trails"
            providerName="System.Data.SqlClient" />
        <add name="x_Lookup_Lite.Properties.Settings.TurboscanNG_OCR1ConnectionString"
            connectionString="Data Source=mtv-va-sql-1\p922;Initial Catalog=TurboscanNG_OCR1;User ID=dva;Password=Happy_Trails"
            providerName="System.Data.SqlClient" />
        <add name="x_Lookup_Lite.Properties.Settings.TurboscanNG_OCR2ConnectionString"
            connectionString="Data Source=mtv-va-sql-1\p922;Initial Catalog=TurboscanNG_OCR2;User ID=dva;Password=Happy_Trails"
            providerName="System.Data.SqlClient" />
        <add name="x_Lookup_Lite.Properties.Settings.TurboscanNG_OCR3ConnectionString"
            connectionString="Data Source=mtv-va-sql-1\p922;Initial Catalog=TurboscanNG_OCR3;User ID=dva;Password=Happy_Trails"
            providerName="System.Data.SqlClient" />
        <add name="x_Lookup_Lite.Properties.Settings.TurboscanNG_OCR4ConnectionString"
            connectionString="Data Source=mtv-va-sql-1\p922;Initial Catalog=TurboscanNG_OCR4;User ID=dva;Password=Happy_Trails"
            providerName="System.Data.SqlClient" />
        <add name="x_Lookup_Lite.Properties.Settings.TurboscanNG_ATL_VA_0005ConnectionString"
            connectionString="Data Source=atl-va-sql-2a\p921;Initial Catalog=TurboscanNG_ATL-VA-0005;User ID=ibml;Password=ibml123"
            providerName="System.Data.SqlClient" />
        <add name="x_Lookup_Lite.Properties.Settings.TURBOSCANNG1ConnectionString"
            connectionString="Data Source=mtv-va-sql-4\p1;Initial Catalog=TURBOSCANNG1;User ID=lrmo;Password=Happy_Trails"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>